/* Header.css */

/* Common styles for both mobile and desktop */
.header {
  background-color: #000;
  color: #00ffcc;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.header-logo-link {
  text-decoration: none;
  color: #00ffcc;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.header-logo-link:hover {
  color: #007BFF;
}

.header-logo-initials {
  font-size: 24px;
  letter-spacing: 1px;
}

.header-logo-fullname {
  font-size: 12px;
  display: none;
  letter-spacing: 1px;
  margin-top: 4px;
}

.header-logo-link:hover .header-logo-fullname {
  display: block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #00ffcc;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Styles for mobile screens */
@media (max-width: 767px) {
  .header-logo {
    margin-left: 10px;
  }

  .header-logo-initials {
    font-size: 16px;
  }

  .header-logo-fullname {
    font-size: 16px;
  }

  nav li {
    margin: 0 8px;
  }

  nav a {
    font-size: 14px;
  }
}
